<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.blog.pojo.Article">
            <id property="articleId" column="article_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="articleLike" column="article_like" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="saveArticle">
        insert into article(title,content,user_id,image,publish_time,article_like,update_time)
        values (#{title},#{content},#{userId},#{image},#{publishTime},0,#{updateTime});
    </insert>
    <update id="updateArticle">
        update article
        <!--set title=#{title},content=#{content},image=#{image},update_time=#{updateTime}-->
        <set>
            <if test="title != null and title != ''">
                title=#{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="image != null and image != ''">
                image=#{image},
            </if>
            <if test="articleLike != null">
                article_like = #{articleLike}
            </if>
        </set>
        ,update_time= now()
        where article_id=#{id};
    </update>

    <delete id="deleteByArticleId" >
        delete from article where article_id = #{id};
    </delete>
    <select id="load" resultType="com.blog.pojo.SelectArticle">
        select article_id id,title,content,article_like,username,image from article a
                                                           left join user u on a.user_id = u.user_id;

    </select>
    <select id="selectByUserId" resultType="article">
        select article_id id,title,content,a.user_id,image,publish_time,a.update_time,article_like,u.username
        from article a,user u where u.user_id = #{id} AND a.user_id = #{id}

    </select>
    <select id="selectByArticleId" resultType="article">
        select article_id id,title,content,a.user_id,image,publish_time,a.update_time,article_like,u.username from article a left join user u on a.user_id = u.user_id
                where article_id=#{id};
    </select>
    <select id="showArticle" resultType="article">
        select article_id id,title,content,a.user_id ,username,image,article_like,publish_time,a.update_time  from article a
                                                                                                    left join user u on a.user_id = u.user_id
                                                                                                    where a.article_id=#{id};
    </select>
    <select id="countComment" resultType="integer">
        select COUNT(comment_id) from comment where article_id = #{id};
    </select>
    <select id="getArticle" resultType="com.blog.entity.Article">
        select article_id id,title,content,user_id,image,publish_time,update_time,article_like from article
        <where>
            <if test="id != null">
                and article_id = #{id}
            </if>
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="content != null and content != ''">
                and content like concat('%',#{content},'%')
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
    </select>
</mapper>
