<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.BehaviorMapper">
    <select id="behaviorExist" resultType="_long">
            select behaviour_id from behaviour where user_id = #{userId} and article_id =#{articleId}
    </select>
    <insert id="behaviorInsert" useGeneratedKeys="true" keyProperty="behaviourId">
            insert into behaviour (article_id,user_id,is_like)values (#{articleId},#{userId},#{isLike})
    </insert>
    <update id="behaviorUpdate">
            update behaviour set is_like = #{isLike} where user_id = #{userId} and article_id =#{articleId}
    </update>
    <insert id="addComment" useGeneratedKeys="true" keyProperty="commentId">
            insert into comment (article_id,user_id,comment_body,create_time)values (#{articleId},#{userId},#{commentBody},#{createTime})
    </insert>
    <select id="queryComment" resultType="com.blog.entity.Comment">
            select c.*,u.username from comment c left join user u on c.user_id = u.user_id
        <where>
            <if test="articleId != null">
                and c.article_id = #{articleId}
            </if>
            <if test="commentId != null">
                and c.comment_id = #{commentId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="commentBody != null and commentBody != ''">
                and comment_body like concat('%',#{commentBody},'%')
            </if>
        </where>
    </select>
    <delete id="delComment">
            delete from comment where comment_id = #{commentId}
    </delete>
</mapper>
